


body {
  background-color: white;

  align-content: center;

  padding-left: 30%;
  padding-right: 30%;
  display: grid;
  background-color: #F2EBE3;



}


h1{
  font-family:sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
  justify-content: center;
  text-align: center;
  font-weight: 700;

}

h2{
  font-family:sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
  justify-content: center;
  color: rgb(107, 107, 107);
  font-weight: 400;
  text-align: justify;


}

.image-container {
  align-content: center;


  width: 300px;
  height: 200px;
  display: flex;

}

.list-container{
  font-family: source-serif-pro, Georgia, Cambria, "Times New Roman", Times, serif;
  color: black;
  line-height: 30px;
  text-justify: distribute;
  padding-right: 10%;


}

p{
  font-family: source-serif-pro, Georgia, Cambria, "Times New Roman", Times, serif
;
  color: rgb(36, 36, 36);
  font-weight: 400;
  text-align: justify;

}

h3{
  font-family: source-serif-pro, Georgia, Cambria, "Times New Roman", Times, serif;

}
